table {
  margin: auto;
  border-top: 1px solid #666;
  border-bottom: 1px solid #666;
}
table thead th { border-bottom: 1px solid #ddd; }
th, td { padding: 2px; padding-left: 20px; padding-right: 20px;}
thead, tfoot, tr:nth-child(even) { background: #eee; }